@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
.register-container {
    width: 100vw;
    height: 100vh;
    background: #fff!important;
    
}

.empty-nav {
    width: 100vw;
    height: 60px;
    background: #111;
}

.home-link {
    color: #ffd800;
    position: relative;
    top: 25%;
    left: 12px;
    text-decoration: none;
    font-family: 'Fira Sans';

}

.login-p {
    margin-bottom: 20px;
}

.register-p {
    margin-bottom: 20px;
}

b {
    font-family: 'Fira Sans';
    font-size: 28px;
}

hr {
    
    color: black;
    height: 4px;
}

.form-container {
   position: relative;
   top: 15%;
   left: 10px;
    background: #fff !important;
    width: 325px;
    /* text-align: center; */
    
    
}

.login {
    color: #ff2841 !important;
    text-decoration: none;

}

.register {
    color: #ff2841 !important;
    text-decoration: none;
}

.form-container form {
    text-align: left;
    margin-left: 0px !important;
}

.red-text {
    color: red !important;
}

.input-title {
    font-family: 'Fira Sans';
    font-weight: 800;
    color: #333;
    margin-bottom: 8px;
}


input{
    border: 1px solid #bbb;
    width: 100%;
    height: 35px;
    margin-bottom: 18px;
    border-radius: 4px;
}

.image-container {
    display: none;
}


@media(min-width: 700px) {

    .register-container {
        width: 100vw;
        /* outline: red 2px solid; */
        height: 100vh;
        box-sizing: border-box;
        margin: 0;
        background: #fff!important;
       /* display: grid;
       grid-template-columns: 375px 1fr; */
        
    }

    .form-container {
        text-align: center;
       
        box-shadow: 0px 0px 15px 5px #949494;
        outline: #ccc 2px solid;
        padding: 12px;
        position: absolute;
        left: 35%;
        background: #fff !important;
        width: 325px;
        grid-column: 1;
         /* text-align: center; */

         
         
     }

     .image-container {
        outline: green 2px solid;
        display: inline;
        width: 500px;
        height: 100%;
        columns: 3;
     }

    .sign-up-button {
        background: #ff2841 !important;
        border: none;
        margin-left: 95px;
        margin-bottom: 15px;
        padding: 10px 22px;
        color: #fff;
        border-radius: 6px;
    }

    .login-in-button {
        background: #ff2841 !important;
        border: none;
        margin-left: 95px;
        margin-bottom: 15px;
        padding: 10px 22px;
        color: #fff;
        border-radius: 6px;

    }

    .home-link {
        color: #ffd800;
        position: relative;
        top: 25%;
        left: 12px;
        text-decoration: none;
        font-family: 'Fira Sans';

    }

    .home-link:hover {
        cursor: pointer;
        color: #fff;
        transition: 0.6s ease-in-out;
    }


     

     

}